body {
    margin: 0;
    font-family: var(--font-family);
}

h1, h2, h3, h4 {
    margin: 0;

}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

img {
    max-width: 100%;
}


input, ::placeholder {
    font-family: var(--font-family);
}

.text-primary {
    color: var(--primary);
}