body {
    margin: 0;
    font-family: var(--font-family);
}

h1, h2, h3, h4 {
    margin: 0;

}

h3{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 50px;  
}

h2{
font-size: 48px;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

img {
    max-width: 100%;
}


input, ::placeholder {
    font-family: var(--font-family);
}

