.btn {
    background-color:var(--primary-btn);
    padding: 10px;
    border:none;
    border-radius: 20px;
    cursor: pointer;
    width: 300px;
    height: 100px;
    font-size: 40px;
    font-weight: 600;
    box-shadow: var(--box-shadow-btn);
}
.btn-form {
    background-color:var(--primary-btn);
    padding: 10px;
    border:none;
    border-radius: 15px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: var(--box-shadow-btn-form);
}


.card {
    width: 400px;
    height: 600px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5%;
    border: 2px solid #000;
    box-shadow: var(--box-shadow-black);
}