:root {
    --primary-btn: #F9B532;
    --primary: #69DC8A;
    --gray-1: #20232a;
    --secondary : #41C2F4;
    --font-family: 'Quicksand', sans-serif;
    --box-shadow-btn: -10px 10px 2px 1px  black;
    --box-shadow-green: -10px 10px 2px 1px  #69DC8A;
    --box-shadow-black: -10px 10px 2px 1px  black;
    --box-shadow-blue: -10px 10px 2px 1px  #41C2F4;
    --font-size-input: 40px;
    --text-color: #444;
}